.nav-container
  .explore-buttons
    button(ng-click="toggleLocationType('Play')")
      b EXPLORE&nbsp;
      | PLAY AREAS
    button(ng-click="toggleLocationType('Nursing')")
      b EXPLORE&nbsp;
      | NURSING AREAS
    button(ng-click="toggleLocationType()")
      | SHOW ME
      b &nbsp;ALL&nbsp;
      | THE COOL SPOTS
  .profile-buttons
    button
      | TELL US YOUR FAVORITE SPOT
.map-container(map="")
