.scroll-container(ng-class="{'map-section-open': mapSectionOpen}")
  .nav-container
    .header(style="font-size: 1.1em; line-height: initial;")
      span(style="font-weight: bold;") SG&nbsp;
      span PARENTS
      br
      span(style="font-size: 0.9em; font-style: italic;") Find kids stuff near you
    div(style="height: 50%; margin-top: 50%; text-align: center", ng-if="!categories")
      i.fa.fa-spinner.fa-spin.fa-2x
    div(style="height: 100%; overflow-y: auto; overflow-x: hidden;", ng-if="categories")
      .explore-button(ng-click="toggleLocationType(category.id)", ng-repeat="category in categories")
        i.fa.fa-angle-right
        span.bold-text
          span(ng-repeat="item in category.name.split('|')") {{item}}
        br
        small {{category.desc}}
    .footer(ng-if="categories")
      div
        label
          b EMAIL
          small &nbsp;No spam, promise
        input(type="text", ng-model="userEmail", placeholder="Your email id", maxlength="50", ng-change="updateUserInfo()")
        label
          b DISPLAY NAME
          small &nbsp;For any messages you send
        input(type="text", ng-model="userName", placeholder="Your name", maxlength="50", ng-change="updateUserInfo()")
      button.btn-primary(ng-click="showMessages('Suggest a spot', true)")
        | SUGGEST A SPOT
  .map-container
    .header
      span(style="font-size: 1.1em;") {{selectedLocationType}} areas
      button.left-side(ng-click="backToNav()")
        i.fa.fa-angle-left
      button.right-side(ng-click="getMyLocation()")
        i.fa.fa-crosshairs(ng-if="!locationRequest")
        i.fa.fa-spinner.fa-spin(ng-if="locationRequest")
    .main-section(map="")
    .footer
      div
        p(ng-if="!selectedLocation", style="font-style: italic;")
          i.fa.fa-angle-double-left
          | &nbsp;SELECT A LOCATION ON THE MAP TO VIEW DETAILS&nbsp;
          i.fa.fa-angle-double-right
        button.btn-primary(ng-if="selectedLocation.title", ng-click="showMessages(selectedLocation.title, false)")
          i.fa.fa-comment-o
          | &nbsp;&nbsp;{{messages.length}}
        a(ng-if="selectedLocation.url", ng-href="{{selectedLocation.url}}")
          i.fa.fa-link
          | &nbsp;{{selectedLocation.url}}
        p(ng-if="selectedLocation.title", style="font-weight: bold") {{selectedLocation.title}}
        p(ng-if="selectedLocation.details") {{selectedLocation.details}}
.message-container(ng-class="{'messages-section-open': messagesSectionOpen}")
  .header
    span(style="font-size: 1.1em;") {{messageSectionTitle}}
    button.right-side(ng-click="closeMessages()")
      i.fa.fa-close
  .main-section
    .message(ng-repeat="msg in messages")
      span.badge {{msg.createdAt | msgdate}}
      span {{msg.name}}
      small {{msg.msg}}
  .footer
    button.send-button(ng-click="addMessage()") SEND
    textarea(placeholder="Your message", ng-model="newMessage", maxlength="256")