.nav-container
  .logo 
    span SINGAPORE
    span FOR
    span PARENTS
  .explore-buttons
    button(ng-click="toggleLocationType('Play')")
      b EXPLORE&nbsp;
      | PLAY AREAS
    button(ng-click="toggleLocationType('Nursing')")
      b EXPLORE&nbsp;
      | NURSING AREAS
    button(ng-click="toggleLocationType()")
      | ALL AREAS
  .profile-buttons
    button
      | TELL US YOUR FAVORITE SPOTS
.map-container
  .header
    | {{selectedLocationType}} Areas
    button(ng-click="backToNav()")
      i.fa.fa-arrow-left
  .main-section(map="")
  .footer
    h5 {{selectedLocation.title || 'Select a location'}}
    p {{selectedLocation.details}}
    a(ng-if="selectedLocation.url" ng-href="{{selectedLocation.url}}") {{selectedLocation.url}}