// -== VARIABLES ==-

$header-height: 70px;
$main-color: rgba(76,224,76,0.5);

// -== LAYOUT ==-

html {
  height: 100%;
  body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    .container {
      height: 100%;
      position: relative;
    }
  }
}

.map-container {
  height: 100%;
}

.legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 5px;
  margin: 5px;
  border: 2px solid #000;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 214px;
  button {
    width: 200px;
    margin-bottom: 5px;
    border-radius: 4px;
    &:nth-last-child(1) {
      margin-bottom: 0px;
    }
    &.selected {
      background-color: #5bc0de;  
    }
  }
}